<h1>Play:	<%= @game.player1.name %> -vs- <%= @game.player2.name %></h1>

<p>Player1: <%= @game.player1.name %></p>
<p>Player2: <%= @game.player2.name %></p>
<p><%= @game.player2.name %>'s HitPoints: <%= @game.player2.hitpoints %></p>

<form action="/attack">
  <button type="submit" value="attack">Attack</button>
</form>
